.container {
    font-family: 'Montserrat', sans-serif;
    width: 600px;
    margin: 0 auto;
}

h1 {
    
    color:crimson;
    text-align: center;
    text-transform: uppercase;
}

label {
    font-size: 16px;
    color: cadetblue;
}

input {
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.text {
    border: 1px solid darkgrey;
}

.submit {
    background-color: cadetblue;
    border-radius: 5px;
}
